<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View Cart</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{'/'}">JOURNALS</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{'/'}">Home</a></li>
                    <li class="active"><a th:href="@{'/view-cart'}">View Cart</a></li>
                    <li sec:authorize="hasAuthority('JOURNAL_WRITE_PRIVILEGE')"><a th:href="@{'/journals/0'}">Add Journal</a></li>
                    <li sec:authorize="hasAuthority('USER_WRITE_PRIVILEGE')"><a href="/users/singup" value="Register" class="btnRegister">Add User</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{'/users/update/' + ${simpleUser.username}}"><span class="glyphicon glyphicon-user"></span><span sec:authentication="name"></span></a></li>
                    <li><a><form th:method="POST" th:action="@{/logout}"><button th:type="send">Log Out</button></form></a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <p th:text="${msg}"></p>
            <table class="table table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Year</th>
                    <th>ISSN</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entrySet:${cart.getMap()}">
                    <td th:text="${entrySet.key.id}"></td>
                    <td th:text="${entrySet.key.title}"></td>
                    <td th:text="${entrySet.key.author}"></td>
                    <td th:text="${entrySet.key.publisher}"></td>
                    <td th:text="${entrySet.key.year}"></td>
                    <td th:text="${entrySet.key.issn}"></td>
                    <td th:text="${entrySet.key.price}"></td>
                    <td th:text="${entrySet.key.description}"></td>
                    <td th:text="${entrySet.value}"></td>
                    <th th:text="${entrySet.value * entrySet.key.price + '$'}"></th>
                </tr>
                <tr>
                    <td th:colspan="9">
                        Total: <a th:text="${totalPrice}"></a>$
                    </td>
                    <td>
                        <a th:href="@{'/cart-pay/'}" class="btn btn-primary" role="button">Cart Pay</a><br/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>