<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<title>Journals</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>     
	</head>
	<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{'/'}">JOURNALS</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a th:href="@{'/'}">Home</a></li>
				<li><a th:href="@{'/viewCart'}">View Cart</a></li>
				<li><a th:href="@{'/edit/0'}">Add</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a><span class="glyphicon glyphicon-user"></span>Hello <span sec:authentication="name"></span>!</a></li>
				<li><a><form th:method="POST" th:action="@{/logout}"><button th:type="send">Log Out</button></form></a></li>
			</ul>
		</div>
	</nav>
		<div class="container">

			<table class="table table-condensed table-hover table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Title</th>
						<th>Author</th>				
						<th>Publisher</th>
						<th>Year</th>
						<th>ISSN</th>
						<th>Description</th>
						<th>Price</th>
						<th>Actions</th>
					</tr>
				</thead>	
				<tbody>		
					<tr th:each="journal:${journals}">
						<td th:text="${journal.id}"></td>
						<td th:text="${journal.title}"></td>
						<td th:text="${journal.author}"></td>
						<td th:text="${journal.publisher}"></td>
						<td th:text="${journal.year}"></td>
						<td th:text="${journal.issn}"></td>
						<td th:text="${journal.description}"></td>
						<td th:text="${journal.price}"></td>
						<td><a th:href="@{'/edit/' + ${journal.id}}" class="btn btn-primary" role="button">Edit</a>
							<a th:href="@{'/delete/' + ${journal.id}}"  class="btn btn-primary" role="button">Delete</a>
							<a th:href="@{'/view/' + ${journal.id}}"  class="btn btn-primary" role="button">View</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>