<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<title>Library</title> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>     
	</head>
	<body>
	<p>
		<span sec:authentication="name"></span> has <span sec:authentication="authorities"></span>
	</p>
	<p>
	<form method="POST" th:action="@{/logout}">
		<input value="Sing out" type="submit"/>
	</form>
	</p>
		<div class="container">
			<div sec:authorize="isAuthenticated()">
				<a th:href="@{'/edit/0'}">Add</a>
			</div>
			<div>
				<a th:href="@{'/viewCart'}">View Cart</a>
			</div>
			<table class="table table-condensed">    
				<thead>
					<tr>
						<th>ID</th>
						<th>Title</th>
						<th>Author</th>				
						<th>Publisher</th>
						<th>Year</th>
						<th>ISBN</th>
						<th>Description</th>
						<div sec:authorize="isAuthenticated()">
							<th>Actions</th>
						</div>
					</tr>
				</thead>	
				<tbody>		
					<tr th:each="book:${books}">
						<td th:text="${book.id}"></td>
						<td th:text="${book.name}"></td>
						<td th:text="${book.author}"></td>				
						<td th:text="${book.publisher}"></td>
						<td th:text="${book.year}"></td>
						<td th:text="${book.isbn}"></td>
						<td th:text="${book.description}"></td>
						<div sec:authorize="isAuthenticated()">
							<td><a th:href="@{'/edit/' + ${book.id}}">Edit</a><br/><a th:href="@{'/delete/' + ${book.id}}">Delete</a><a th:href="@{'/view/' + ${book.id}}">View</a></td>
						</div>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>