<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>jQuery</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <style>
           .head{
               width: 50px;
               height: 50px;
               background-color: darkgoldenrod;
               margin: 5px;
           }
        </style>
        <script type="text/javascript">
            $(document).ready(function(){
                $(document).on('click', '#show', function(){
                    $('#comments').slideTogle(1000, function() {
                        $('#show').slideTogle(1000);
                        $('#hide').slideTogle(1000);
                    });
                });
            });
        </script>
    </head>
    <body>
        <p class="first">First 21 lessons!</p>
        <div id="comments">
            <p>Commnet1</p>
            <p>Commnet2</p>
        </div>
        <form action="" method="post" style="display: none" id="form">
            <textarea id="commentText" name="commentText" rows="5" cols="30"></textarea></br>
            <input type="submit" value="Add" id="done" name="done"/>
        </form>
        <a href="#" id="hide" name="hide">Hide comments</a>
        <a href="#" id="show" style="display: none;" name="show">Show comments</a>
    </body>
</html>