<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>SingUp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div sec:authorize="isAuthenticated()">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{'/'}">JOURNALS</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{'/'}">Home</a></li>
                    <li><a th:href="@{'/view-cart'}">View Cart</a></li>
                    <li sec:authorize="hasAuthority('JOURNAL_WRITE_PRIVILEGE')"><a th:href="@{'/journals/0'}">Add Journal</a></li>
                    <li sec:authorize="hasAuthority('USER_WRITE_PRIVILEGE')"><a href="/users/singup" value="Register" class="btnRegister">Add User</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{'/users/update/' + ${simpleUser.username}}"><span class="glyphicon glyphicon-user"></span><span sec:authentication="name"></span></a></li>
                    <li><a><form th:method="POST" th:action="@{/logout}"><button th:type="send">Log Out</button></form></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <h1 style="text-align:center;">Save User</h1>
    <form th:action="@{'/users/singup'}" class="form-horizontal" role="form" th:object="${person}" th:method="POST">
        <div class="form-group">
            <label class="col-lg-2 control-label col-sm-2 col-md-2 col-xs-2" th:for="firstName">First Name:</label>
            <input type="hidden" th:field="*{id}" />
            <div class="col-lg-3 col-sm-2 col-md-2 col-xs-2">
                <input type="text" th:field="*{firstName}" class="form-control" th:id="firstName"/>
                <span class="alert-danger" th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label col-sm-2 col-md-2 col-xs-2" th:for="lastName">Last Name:</label>
            <div class="col-lg-3 col-sm-2 col-md-2 col-xs-2">
                <input type="text" th:field="*{lastName}" class="form-control" th:id="lastName"/>
                <span class="alert-danger" th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label col-sm-2 col-md-2 col-xs-2" th:for="address">Address:</label>
            <div class="col-lg-3 col-sm-2 col-md-2 col-xs-2">
                <input type="text" th:field="*{address}" class="form-control" th:id="address"/>
                <span class="alert-danger" th:each="err : ${#fields.errors('address')}" th:text="${err}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label col-sm-2 col-md-2 col-xs-2" th:for="phone">Phone:</label>
            <div class="col-lg-3 col-sm-2 col-md-2 col-xs-2">
                <input type="text" th:field="*{phone}" class="form-control" th:id="phone"/>
                <span class="alert-danger" th:each="err : ${#fields.errors('phone')}" th:text="${err}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label col-sm-2 col-md-2 col-xs-2" th:for="cash">Cash:</label>
            <div class="col-lg-3 col-sm-2 col-md-2 col-xs-2">
                <input type="text" th:field="*{cash}" class="form-control" th:id="cash"/>
                <span class="alert-danger" th:each="err : ${#fields.errors('cash')}" th:text="${err}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label col-sm-2 col-md-2 col-xs-2" th:for="username">Username:</label>
            <div class="col-lg-3 col-sm-2 col-md-2 col-xs-2">
                <input type="text" th:field="*{username}" class="form-control" th:id="username"/>
                <span class="alert-danger" th:each="err : ${#fields.errors('username')}" th:text="${err}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label col-sm-2 col-md-2 col-xs-2" th:for="password">Password:</label>
            <div class="col-lg-3 col-sm-2 col-md-2 col-xs-2">
                <input type="password" th:field="*{password}" class="form-control" th:id="password"/>
                <span class="alert-danger" th:each="err : ${#fields.errors('password')}" th:text="${err}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label col-sm-2 col-md-2 col-xs-2" th:for="confirmPassword">Confirm Password:</label>
            <div class="col-lg-3 col-sm-2 col-md-2 col-xs-2">
                <input type="password" th:field="*{confirmPassword}" class="form-control" th:id="confirmPassword"/>
                <span class="alert-danger" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}" th:errors="*{confirmPassword}"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</body>
</html>